<section id="post-hero" class="hero">
  <div class="container">
    <h1> <%= @post.title %> </h1>
  </div>
</section>

<section id="post-body">
  <div class="container">
    <p id="post-content">  <%= @post.content %> </p>
    <% # If the user still exists, give them credit. %>
    <% if @author.nickname != '[DELETED USER]' %>
      <p>Written by <a href="/user/<%= @post.user_id %>"><%= (@author.nickname) ? @author.nickname : @author.user_name %></a>
    <% end %>
  </div>
</section>

<% if current_user == @author %>
  <section id="post-controls">
    <div class="container">
      <button id="post-update">Edit Post</button>
      <a id="post-delete" href="/post/delete/<%= @post.id %>">DELETE POST</a>
    </div>
  </section>
  <section id="post-update">
    <form id="ajax-update-post" action="/post/update/<%= @post.id %>" method="post">
      <input type="hidden" id="hup-title" name="title" value>
      <input type="hidden" id="hup-content" name="content" value>
    </form>
  </section>
<% end %>

<style>
  #post-content { background-color: <%= @author.bg_color %> }
  main,p,h1,h2,h3,h4,h5,h6 { color: <%= @author.font_color %> }
</style>