<section id="post-hero" class="hero">
  <div class="container">
    <h1> <%= @post.title %> </h1>
  </div>
</section>

<section id="post-content">
  <div class="container">
    <p>  <%= @post.content %> </p>
    <p>Written by <a href="/user/<%= @post.user_id %>"><%= (@author.nickname) ? @author.nickname : @author.user_name %></a>
  </div>
</section>

<style>
  main { background-color: <%= @author.bg_color %> }
  main,p,h1,h2,h3,h4,h5,h6 { color: <%= @author.font_color %> }
</style>