<section id="profile-stuff" class="stuff">
  <div class="container">
    <h1>Welcome to <span><%= (@user.nickname) ? @user.nickname : @user.user_name %></span>'s Page!</h1>
  </div>
</section>

<section id="profile-stats" class="<%= "current-profile" if current_user == @user %>">
  
    <% # If we're logged in: %>
    <% if current_user == @user %>
      <% # Create a hidden form to do AJAX updates through. %>
      <form id="ajax-update-profile" action="/user/update/<%= @user.id %>" method="post">
        <input type="hidden" id="bruh-firstname" name="first_name" value>
        <input type="hidden" id="bruh-lastname" name="last_name" value>
        <input type="hidden" id="bruh-email" name="email" value>
        <input type="hidden" id="bruh-nickname" name="nickname" value>
        <input type="hidden" id="bruh-hobbies" name="hobbies" value>
        <input type="hidden" id="bruh-fontcolor" name="font_color" value>
        <input type="hidden" id="bruh-bgcolor" name="bg_color" value>
      </form>
      <% # Create a "delete user" link. %>
      <a href="/user/delete/<%= @user.id %>">DELETE ACCOUNT</a>
    <% end %>
  </div>
</section>

<% if current_user == @user %>
  <section id="profile-new-post">
    <div id="new-post-container" class="container">
      <h2>New Post</h2>
      <form id="create-post" action="/posts/new" method="post">
        <input type="text" name="newpost-title" placeholder="Title">
        <label id="newpost-content-count" for="newpost-content">0/150</label>
        <textarea id="newpost-content" name="newpost-content" placeholder="Content"></textarea>
        <input type="submit" name="" value="Create Post">
      </form>
    </div>
  </section>
<% end %>

<section id="profile-posts">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="blogroll-post">
        <h3><a class="post-link" href="/post/<%= post.id %>"><%= post.title %></a></h3>
        <p class="post-content"><%= post.content %></p>
      </div>
    <% end %>
  </div>
</section>
